<app-navbar1></app-navbar1>

<body class="fondo">

  <div class="frame">
    <div >
      <div class="col-1">
        <img class="imagenicono" src="https://cdn.shopify.com/s/files/1/0229/0839/files/Untitled_design_2_f61f9f52-1cc9-4ac8-bb6a-e584ebc83d9b.jpg?v=1579807815&width=1024" />
      </div>

      <div class="col-11">
        <p class="Comenzar">Comenzar sesion estandar</p>
        <p class="cantPersonas">No hay personas por entrevistar</p>
        <hr class="divisor" />
        <p style="    top: 150px;
    position: absolute;
    left: 120px;
    width: 280px;
    line-height: 17px;
    color:  #828282;
    text-align: justify;
    font-size: 18px;">Ya esta todo listo por ahora! Mantente pendiente para revisar personas que se enlisten para entrevista</p>
        
         <img style="height:40px; position:absolute; top:160px;"  src="https://cdn.shopify.com/s/files/1/0229/0839/files/Untitled_design_2_f61f9f52-1cc9-4ac8-bb6a-e584ebc83d9b.jpg?v=1579807815&width=1024" />
       
      </div>
    </div>
    
  </div>
</body>
