.subscribe-wrapper input {
  /* position: absolute;*/
  width: 385.02px;
  height: 30px;
  position: relative;
  background: transparent;
  border: none;
  border-bottom: 2px solid #BDBDBD;
}

.subscribe-wrapper input:focus {
  outline: none;
  border-bottom: 2px solid #a77cf4;
 
}

.btnAmarillo {
  position: relative;
  width: 138px;
  height: 54px;
  top: 300px;
  background: #F9D11F;
}

.inicioSesion {
  position: relative;
  top: 115px;
  color: #0C8EF8;
  font-size: 55px;
  color: #FEA41E;
}

.pComienza {
  position: relative;
  top: 115px;
  
}


